In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import zscore

In [3]:
df = pd.read_csv('Arrest_Data_from_2010_to_Present.csv')

In [4]:
df.head()

,Report ID,Arrest Date,Time,Area ID,Area Name,Reporting District,Age,Sex Code,Descent Code,Charge Group Code,Charge Group Description,Arrest Type Code,Charge,Charge Description,Address,Cross Street,Location
0,4248313,02/24/2015,1310.0,20,Olympic,2022,37,M,H,5.0,Burglary,F,459PC,BURGLARY,5TH,WILTON,"(34.0653, -118.314)"
1,191811472,05/03/2019,1700.0,18,Southeast,1802,23,F,B,NaN,NaN,M,653.22 PC,NaN,91ST,FIGUEROA,"(33.9543, -118.2827)"
2,4254777,02/26/2015,2010.0,19,Mission,1985,22,M,H,6.0,Larceny,M,459.5PC,SHOPLIFTING,8300 VAN NUYS BL,NaN,"(34.2216, -118.4488)"
3,5614161,04/29/2019,1040.0,8,West LA,842,41,M,H,3.0,Robbery,F,211PC,ROBBERY,11600 WILSHIRE BL,NaN,"(34.0508, -118.4592)"
4,5615197,04/30/2019,615.0,6,Hollywood,663,27,M,O,5.0,Burglary,F,459PC,BURGLARY,LA BREA,LEXINGTON,"(34.0907, -118.3384)"

In [5]:
df['Arrest Date'] = pd.to_datetime(df['Arrest Date'],dayfirst=False)

In [6]:
df.head()

,Report ID,Arrest Date,Time,Area ID,Area Name,Reporting District,Age,Sex Code,Descent Code,Charge Group Code,Charge Group Description,Arrest Type Code,Charge,Charge Description,Address,Cross Street,Location
0,4248313,2015-02-24,1310.0,20,Olympic,2022,37,M,H,5.0,Burglary,F,459PC,BURGLARY,5TH,WILTON,"(34.0653, -118.314)"
1,191811472,2019-05-03,1700.0,18,Southeast,1802,23,F,B,NaN,NaN,M,653.22 PC,NaN,91ST,FIGUEROA,"(33.9543, -118.2827)"
2,4254777,2015-02-26,2010.0,19,Mission,1985,22,M,H,6.0,Larceny,M,459.5PC,SHOPLIFTING,8300 VAN NUYS BL,NaN,"(34.2216, -118.4488)"
3,5614161,2019-04-29,1040.0,8,West LA,842,41,M,H,3.0,Robbery,F,211PC,ROBBERY,11600 WILSHIRE BL,NaN,"(34.0508, -118.4592)"
4,5615197,2019-04-30,615.0,6,Hollywood,663,27,M,O,5.0,Burglary,F,459PC,BURGLARY,LA BREA,LEXINGTON,"(34.0907, -118.3384)"

In [9]:
df = df[df['Arrest Date'] < ("2019-01-01")]

In [11]:
df['year'] = df['Arrest Date'].apply(lambda date: date.year)

How many bookings of arrestees were made in the area with the most arrests in 2018?

In [15]:
in2018 = df[df['year']==2018] 
in2018['Area ID'].value_counts().sort_values(ascending=False).max()

10951

What is the 95% quantile of the age of the arrestee in 2018? Only consider the following charge groups for your analysis:

Vehicle Theft
Robbery
Burglary
Receive Stolen Property

In [16]:
charges = df[['Charge Group Code', 'Charge Group Description', 'Charge Description']]

In [17]:
charge_names = ['Vehicle Theft','Robbery','Burglary','Receive Stolen Property']

In [18]:
charges[charges['Charge Group Description'].isin(charge_names)].head(10)

,Charge Group Code,Charge Group Description,Charge Description
0,5.0,Burglary,BURGLARY
6,5.0,Burglary,BURGLARY
7,3.0,Robbery,ROBBERY
12,3.0,Robbery,ROBBERY
162,11.0,Receive Stolen Property,RECEIVING KNOWN STOLEN PROPERTY >$950
164,11.0,Receive Stolen Property,RECEIVING KNOWN STOLEN PROPERTY >$950
178,7.0,Vehicle Theft,TAKE VEHICLE W/O OWNER'S CONSENT
179,7.0,Vehicle Theft,TAKE VEHICLE W/O OWNER'S CONSENT
180,7.0,Vehicle Theft,TAKE VEHICLE W/O OWNER'S CONSENT
182,7.0,Vehicle Theft,TAKE VEHICLE W/O OWNER'S CONSENT

In [19]:
# quantileValues = dataFrame.quantile(.95);
# print("95th percentile:");
# print(quantileValues);

quantile95_age = in2018[in2018['Charge Group Description'].isin(charge_names)]['Age']
quantile95_age.quantile(0.95)

52.0

There are differences between the average age of an arrestee for the various charge groups. Are these differences statistically significant? For this question, calculate the Z-score of the average age for each charge group. Report the largest absolute value among the calculated Z-scores.

Only consider data for 2018

Do not consider "Pre-Delinquency" and "Non-Criminal Detention" as these charge groups are reserved for minors

Exclude any arrests where the charge group description is not known

In [33]:
in2018['Charge Group Description'].value_counts()

Miscellaneous Other Violations    17023
Narcotic Drug Laws                10697
Aggravated Assault                 9231
Driving Under Influence            8918
Other Assaults                     7907
Larceny                            5129
Drunkeness                         3769
Moving Traffic Violations          3565
Liquor Laws                        3481
Weapon (carry/poss)                3396
Vehicle Theft                      3257
Prostitution/Allied                2970
Robbery                            2787
Disorderly Conduct                 2536
Burglary                           1958
Sex (except rape/prst)             1179
Fraud/Embezzlement                 1061
Against Family/Child                923
Receive Stolen Property             455
Forgery/Counterfeit                 415
Rape                                315
Homicide                            274
Non-Criminal Detention              198
Gambling                            175
Disturbing the Peace                 98
Pre-Delinquency                      72
Federal Offenses                     25
Name: Charge Group Description, dtype: int64

In [37]:
df_serious_2018 = in2018[in2018['Charge Group Description']!= 'Non-Criminal Detention']

In [38]:
df_serious_2018 = df_serious_2018[df_serious_2018['Charge Group Description']!= 'Pre-Delinquency']

In [39]:
df_serious_2018 = df_serious_2018[df_serious_2018['Charge Group Description']!= "NaN"]

In [40]:
df_serious_2018['Charge Group Description'].value_counts()

Miscellaneous Other Violations    17023
Narcotic Drug Laws                10697
Aggravated Assault                 9231
Driving Under Influence            8918
Other Assaults                     7907
Larceny                            5129
Drunkeness                         3769
Moving Traffic Violations          3565
Liquor Laws                        3481
Weapon (carry/poss)                3396
Vehicle Theft                      3257
Prostitution/Allied                2970
Robbery                            2787
Disorderly Conduct                 2536
Burglary                           1958
Sex (except rape/prst)             1179
Fraud/Embezzlement                 1061
Against Family/Child                923
Receive Stolen Property             455
Forgery/Counterfeit                 415
Rape                                315
Homicide                            274
Gambling                            175
Disturbing the Peace                 98
Federal Offenses                     25
Name: Charge Group Description, dtype: int64

In [60]:
avg_age_df = pd.DataFrame(df_serious_2018.groupby(['Charge Group Description'])['Age'].mean())
#avg_age_df['z_score'] = avg_age_df.apply(zscore)
#avg_age_df['z_score_abs'] = avg_age_df['z_score'].apply(lambda score: abs(score))
#print("the largest abs value among z scores: {}" .format(avg_age_df['z_score_abs'].max()))

In [61]:
avg_age_df

                                      Age
Charge Group Description
Against Family/Child            35.539545
Aggravated Assault              34.434622
Burglary                        30.391216
Disorderly Conduct              41.229890
Disturbing the Peace            39.010204
Driving Under Influence         34.953353
Drunkeness                      43.905015
Federal Offenses                34.080000
Forgery/Counterfeit             34.265060
Fraud/Embezzlement              35.615457
Gambling                        41.308571
Homicide                        30.470803
Larceny                         33.776565
Liquor Laws                     42.483482
Miscellaneous Other Violations  35.537684
Moving Traffic Violations       33.874614
Narcotic Drug Laws              36.303356
Other Assaults                  34.091311
Prostitution/Allied             30.006061
Rape                            35.168254
Receive Stolen Property         31.791209
Robbery                         27.182992
Sex (except rape/prst)          37.029686
Vehicle Theft                   29.821615
Weapon (carry/poss)             30.174323

In [62]:
avg_age_df['z_score'] = avg_age_df.apply(zscore)

In [63]:
avg_age_df['z_score_abs'] = avg_age_df['z_score'].apply(lambda score: abs(score))

In [64]:
print("the largest abs value among z scores: {}" .format(avg_age_df['z_score_abs'].max()))

the largest abs value among z scores: 2.1717481576567237

Felony arrest incidents have been dropping over the years. Using a trend line (linear estimation) for the data from 2010 and 2018 (inclusive), what is the projected number of felony arrests in 2019? Round to the nearest integer. Note, the data set includes arrests for misdemeanor, felonies, etc.

In [65]:
df.head()

,Report ID,Arrest Date,Time,Area ID,Area Name,Reporting District,Age,Sex Code,Descent Code,Charge Group Code,Charge Group Description,Arrest Type Code,Charge,Charge Description,Address,Cross Street,Location,year
0,4248313,2015-02-24,1310.0,20,Olympic,2022,37,M,H,5.0,Burglary,F,459PC,BURGLARY,5TH,WILTON,"(34.0653, -118.314)",2015
2,4254777,2015-02-26,2010.0,19,Mission,1985,22,M,H,6.0,Larceny,M,459.5PC,SHOPLIFTING,8300 VAN NUYS BL,NaN,"(34.2216, -118.4488)",2015
6,4256466,2015-02-28,1430.0,18,Southeast,1824,22,M,B,5.0,Burglary,F,459PC,BURGLARY,103RD,HICKORY,"(33.947, -118.2594)",2015
7,4256564,2015-02-28,1715.0,10,West Valley,1039,16,M,H,3.0,Robbery,F,211PC,ROBBERY,VANOWEN,WOODLEY,"(34.1939, -118.4836)",2015
10,4256815,2015-03-01,110.0,17,Devonshire,1794,22,M,H,8.0,Other Assaults,M,243(A)PC,BATTERY ON PERSON,VANALDEN,BRYANT,"(34.2251, -118.5372)",2015

In [66]:
df['Charge Description'].value_counts()

DRUNK DRIVING ALCOHOL/DRUGS                   92554
DRINKING IN PUBLIC                            92402
CORPORAL INJURY ON SPOUSE/COHABITANT/ETC      42644
POSSESSION CONTROLLED SUBSTANCE               42115
FTA AFTER WRITTEN PROMISE                     30740
POSSESSION NARCOTIC CONTROLLED SUBSTANCE      29308
SIT/LIE/SLEEP SIDEWALK OR STREET              25463
PROSTITUTION                                  25326
OPEN ALCOHOLIC BEV IN PUBLIC PARK/PLACE       25033
LOS ANGELES MUNICIPAL CODE                    24132
GRAND THEFT (OVER $400)                       22913
BURGLARY                                      20926
ROBBERY                                       20093
ADW, NOT FIREARM, W/GBI                       19803
BATTERY ON PERSON                             16562
BATT EX-SPOUSE/FIANCEE/PERSN W/DATING REL     16394
VIOLATION OF PAROLE:FELONY                    15998
TAKE VEHICLE W/O OWNER'S CONSENT              13937
CURFEW - JUV ONLY                             12393
FTA/TRAFFIC WARRANT                           11379
SHOPLIFTING                                   10934
TRUANCY                                       10785
DRIVE W/LIC SUSPEND/REVOKE 4 OTHER REASON     10681
TRANSPORT/SELL/ETC CONTROLLED SUBSTANCE        9943
FLASH INCARCERATION                            9923
DRINKING ALCOHOL                               9284
CRIMINAL THREATS                               9225
POSS ALCH BEV ON POSTED PREM                   8791
DRINKING IN PUBLIC***                          8704
ILLEGAL POSSESSION OF SHOPPING CART            8248
                                              ...
TAMPER W/UTILITY PROPERTY                         1
BRING/POSS F/ARM IN CRTRM/CRTHSE/CRT BLDG         1
REAREST: ELEC MONITOR PROB                        1
WEAR HEADSET/COVERS BOTH EARS                     1
COND BUSINESS AFTR PERMIT SUSPEND/REVOK           1
ATTEMPT GRAND THEFT                               1
MED ASSIST: FRAUDULENT/FALSE INFO OBT AID         1
FURNISH GOOD/SERVICES ON CREDIT CARD+$400         1
USE OTHER'S NAME/LETTER TO NEWSPAPER              1
ATTEMPT POSSESS CONTROLLED SUBSTANCE              1
ATTEMPT TAMPERING W/VEHICLE                       1
CAUSE INJURY/DEATH OF GUIDE/ETC DOG               1
COMPOUND/CONCEAL FELONY NOT CAPITL OFFENS         1
THEFT OF ARTICLE REPRESENT TRADE SECRETS          1
DRIVING ON CENTER DIVIDER                         1
UNLAWFUL 911 CALLS                                1
SELLING WITHOUT PERMIT                            1
ATTEMPT TO DESTROY PROPERTY $1000-                1
MONTEBELLO MUNICIPAL CODE                         1
BRING DRUGS INTO PRISON                           1
MFG/SELL/GIVE/POSS ETC LIPSTICK CASE KNIFE        1
TAMPER/REMOVE/DISPLACE/INJURE OR DESTROY          1
GIV DANG DRUG/ETC:NO PRSC                         1
ARCADE W/O PERMIT                                 1
DESTROY EVID/OWNERSHIP OF WRECK PROPERTY          1
POSS DEADLY WEAPON W/INT COMMIT ASSAULT           1
POSS/ETC OBSCENE MATT:CHILD UNDER 14              1
ATTEMPTED AGGRAVATED ARSON                        1
ATTEMPT -THEFT: APPROPRIATE LOST PROPERTY         1
OWN DOG TRAIN TO FIGHT/ATTACK-INJ CAUSE           1
Name: Charge Description, Length: 2315, dtype: int64

In [78]:
between2010_2018 = df[(df['year'] >= 2010) & (df['year']<=2018)]

In [79]:
between2010_2018.head()

,Report ID,Arrest Date,Time,Area ID,Area Name,Reporting District,Age,Sex Code,Descent Code,Charge Group Code,Charge Group Description,Arrest Type Code,Charge,Charge Description,Address,Cross Street,Location,year
0,4248313,2015-02-24,1310.0,20,Olympic,2022,37,M,H,5.0,Burglary,F,459PC,BURGLARY,5TH,WILTON,"(34.0653, -118.314)",2015
2,4254777,2015-02-26,2010.0,19,Mission,1985,22,M,H,6.0,Larceny,M,459.5PC,SHOPLIFTING,8300 VAN NUYS BL,NaN,"(34.2216, -118.4488)",2015
6,4256466,2015-02-28,1430.0,18,Southeast,1824,22,M,B,5.0,Burglary,F,459PC,BURGLARY,103RD,HICKORY,"(33.947, -118.2594)",2015
7,4256564,2015-02-28,1715.0,10,West Valley,1039,16,M,H,3.0,Robbery,F,211PC,ROBBERY,VANOWEN,WOODLEY,"(34.1939, -118.4836)",2015
10,4256815,2015-03-01,110.0,17,Devonshire,1794,22,M,H,8.0,Other Assaults,M,243(A)PC,BATTERY ON PERSON,VANALDEN,BRYANT,"(34.2251, -118.5372)",2015

In [80]:
between2010_2018.shape

(1231627, 18)